:host {
    position: relative;
	display: block;
	overflow: hidden;
	/*overflow-x: scroll;*/
    width: 100%;
	height: 100%;
	padding: 64px 0;
	box-sizing: border-box;
} 

#pageInfo {
	padding: 1em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255, 0, 0, 0.1);
	text-align: center;
    user-select: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#content {
	display: block;
	position: relative;
    width: 100%;
    height: 100%;
}

core-icon {
	cursor: pointer;
}
:host /deep/ .page {
	width: 100px !important;
}